/build
/bin
/texel*.7z
/TAGS
/CMakeCache.txt
/.cproject
/.project
/.settings
/.vscode
**/CMakeFiles
**/Makefile
!/doc/Makefile
**/cmake_install.cmake
.ninja*
/build.ninja
/rules.ninja
/bookgui
**/lib*.a
/texel
/texellibtest
/texelutil
/texelutiltest
/uciadapter
